<!DOCTYPE html>
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<html lang="en">
<link href="./css/carousel.css" rel="stylesheet"/>
<script src="./js/carousel.js"></script>
<head>
    <title>Gallery</title>
</head>
<body>
<br>
<br>
<br>
<!-- Slideshow container -->
<div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
<!--    source of images:  https://free-images.com/search/?q=Hawaii&cat=st-->
    <div class="mySlides fade">
        <div class="numbertext">1 / 5</div>
        <img src="./images/hawaii_1.jpeg" style="width:100%">
        <div class="text">Tomorrow will be better.</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
        <img src="./images/hawaii_2.jpeg" style="width:100%">
        <div class="text">Believe it will happen.</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 5</div>
        <img src="./images/hawaii_3.jpeg" style="width:100%">
        <div class="text">Great blessings are heading my way.</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img src="./images/hawaii_4.jpeg" style="width:100%">
        <div class="text">Just another day in paradise!</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img src="./images/hawaii_5.jpeg" style="width:100%">
        <div class="text">Stay positive. Good things will happen. </div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

</body>
</html>