<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to Motivation & Inspiration!</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#ffda03">
<div class="container text-center">
    <br>
    <h1 style="color:#DD6E0F">Welcome to Motivation & Inspiration!</h1>
    <br>
    <h2 style="color:#DD6E0F">Track your uplifting and positive messages to stay motivated and inspired.</h2>
    <br>
    <br>
    <h3><a th:href="@{/users}">List of Users</a></h3>
    <br>
    <h3><a th:href="@{/register}">Register</a></h3>
    <br>
    <h3><a th:href="@{/login}">Login</a></h3>
</div>

</body>
</html>